.sidebar__container {

  .side__bar {
    background-color: $base-black;
    width:$size-72px;
    height: $size-280px;
    border-radius: $size-8px;
    box-shadow: $thin-drop-shadow-3;

    .icon__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: $size-280px;
      justify-content: center;
      gap: $size-20px;
      
      div {
        .icon__img {
          width: $size-40px;
          vertical-align:top
        }
      }
    }
  }
}